name: CI Check
on:
  pull_request:
    branches: [ main ]
jobs:
  checking:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: pdm-project/setup-pdm@v3
      with:
        python-version: 3.8
        cache: true
    - run: pdm sync
    - run: pdm run check
    - run: pdm run test
